*{
    margin: 0;
    padding: 0;
}
.main{
    width: 95%;
    margin: auto;
}
#current-image-container{
    color: white;
    background-color: black;
    padding: 2rem;
    
}
.img img{
    width: 100%;
    height: 61%;
    margin-bottom: 1%;
    margin-top: 1%;
}
.para h3{
    margin-bottom: 1%;
}

#search-form{
    margin-top: 1.5%;
    margin-bottom: 1.5%;

}